*{
    margin: 0;
    padding: 0;

}

html{
    font-size: 140%;

}

body{
    font-family: 'VT323', monospace;
    background: linear-gradient(to right, #ece9e6, #ffffff);
    color: whitesmoke;
}
.container{
    width: 80%;
    padding: 1rem;
    background: linear-gradient(to right, #a73737, #7a2828);
    margin: 1rem auto;
    border-radius: .5em;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
}

header{
    border-bottom: 6px seashell solid;
    border-radius: 5px;

}

input[type=number]{
    border-radius: 10px;
    border: none;
    text-align: center;
}

.number{
    font-size: 5rem;
    text-align: center;
    padding: 1rem;
    width: 8rem;
    border: 6px seashell dashed;
    margin: 1rem auto;
}

main{
    display: flex;
    flex-direction: column;
    text-align: center;


}
.guess{
    width: 7rem;
    display: block;
    margin: 2rem auto;
    font-size: 4rem;
}

.match{
    border: none;
    font-size: 2rem;
    padding: 1rem;
    margin: 1rem auto;
    font-family: 'VT323', monospace;
    font-weight: bold;
    display: block;
    cursor: pointer;
    border-radius: 10px;

}

.match:hover{
    color: aliceblue;
    background-color: black;
}

.message{
    margin: 1rem auto;
    font-size: 3rem;
}

.msg-score{
    font-size: 2rem;
}